mixin navigator(link_1, url_1, link_2, url_2)
    section
        h2 Navigation
        p(class="font-aldrich") 
            a(href= url_1)= link_1
        p(class="font-barlow")     
            a(href= url_2)= link_2
