.font-aldrich{
    font-family: 'Aldrich';
}
.font-barlow{
    font-family: 'Aldrich';
}
section{
    border: 1px grey solid;
    max-width: 80%;
    margin: 0 auto;
    padding: 0 0 20px;
    background-color: #B7BCC8;
}
