include head/head
include header/header
include navigator/navigator
include content/content
doctype html
html(lang="en")
    head
        +head("This is page_1")

    body
        +content
            
        
        
        script( src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js")
        //  src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"
        script(src ="js/libs.min.js")    
        script(src ="js/overall.min.js") 
