mixin content
    +header("Header", "THIS IS THE HEADER")
    +navigator('page_1', 'page_1.html', 'page_2', 'page_2.html')
    article
        .content
            h2 Content
            p(class="svg-proba") 
                span svg-icon-proba
                <i class="fa fa-5x fa-user-circle-o" aria-hidden="true"></i>
            img(src="img/cat/cat.jpg" id="cat")
            
       
    
            
 
