article{
    padding: 20px 0;
    .content{
        border: 1px solid grey;
        max-width: 80%;
        margin: 0 auto;
        padding-bottom: 20px;
        background-color: #E0E2C3;

    }

}
.svg-proba{
    border: 1px solid grey;
    padding: 20px;
    color: grey;
    margin-top: 20px;
    i{
        margin-top: 10px;
    }
}
#cat{
    margin:  20px auto;
}
